:root{
    font-family: Arial, Helvetica, sans-serif;
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: bisque; */
    /* background-color: black; */
    background-color: white;
}

span{
    position: fixed;
    right: 0;
    top: 0;

    color: red;

    font-weight: bolder;
    /*background-color: white;*/
    z-index: 3;
}